@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

html,
body, * {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

a {
  color: inherit;
  all: unset;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: white;
}
button,input{
  font-family: 'Poppins', sans-serif;
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
}

.button{
  background-color: rgb(12, 77, 117);
  padding: .4rem 1rem ;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  &:disabled{
    background-color: rgb(12, 77, 117, .5);
  }
}

input[type="text"]{
  background-color: rgb(223, 223, 223);
  padding: .4rem .6rem ;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}


